@media (max-width: 767px) {
    span#main_text {
        font-size: 13px;
    }

    strong#parts {
        font-size: 11px;
    }

    .button {
        font-size: 0.5em;
    }

    strong#title {
        font-size: 13px
    }

    .container {
        height: 380px;
    }

    div.title {
        text-align: center;
        margin-top: 100px;
    }

    .window {
        width: 350px;
        height: 380px;
    }

    div#code {
        display: none;
    }

    img#img {
        height: 225px;
    }

    img#img2 {
        display: none;
    }

    div#html_css {
        margin-top: 230px;
    }

    img#img3 {
        height: 350px;
    }

}

@media (min-width: 768px) and (max-width: 1300px) {
    span#main_text {
        font-size: 17px;
    }

    .button {
        font-size: 0.7em;
    }

    .container {
        height: 380px;
    }

    strong#title {
        font-size: 20px
    }

    div.title {
        text-align: center;
        margin-top: 100px;
    }

    .window {
        width: 600px;
        height: 380px;
    }

    div#code {
        display: none;
    }

    img#img {
        height: 320px;
    }

    img#img2 {
        display: none;
    }

    div#html_css {
        margin-top: 300px;
    }

    img#img3 {
        height: 410px;
    }

    div#mobile {
        margin-top: 250px;
    }
}

@media (min-width: 1301px) {
    span#main_text {
        font-size: 20px;
    }

    .button {
        font-size: 1em;
    }

    strong#title {
        font-size: 20px
    }

    .container {
        height: 380px;
    }

    .window {
        width: 500px;
        height: 380px;
    }

    div#big {
        margin-left: 50px
    }

    div#title {
        margin-top: 30px;
    }

    div#code2 {
        display: none;
    }

    img#img {
        height: 380px;
        margin-right: 20px;
    }

    img#img2 {
        height: 380px;
        margin-left: 20px;
    }

    div#mobile {
        display: none;
    }

    div#html_css {
        margin-top: 350px;
    }

    img#img3 {
        height: 420px;
    }
}

.container {
    width: 840px;
}

.terminal_toolbar {
    display: flex;
    height: 30px;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #212121;
    justify-content: space-between;
}

.butt {
    display: flex;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 5px;
    font-size: 8px;
    height: 12px;
    width: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 100%;
    background: linear-gradient(#7d7871 0%, #595953 100%);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
}

.btn-color {
    background: #ee411a;
}

.btn:hover {
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.butt--exit {
    background: linear-gradient(#f37458 0%, #de4c12 100%);
}

.add_tab {
    border: 1px solid #fff;
    color: #fff;
    padding: 0 6px;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    cursor: pointer;
}

.user {
    color: #d5d0ce;
    margin-left: 6px;
    font-size: 14px;
    line-height: 15px;
}

.terminal_body {
    background: rgba(0, 0, 0, 0.6);
    height: calc(100% - 30px);
    padding-top: 2px;
    margin-top: -1px;
    font-size: 12px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.terminal_promt {
    display: flex;
    flex-direction: column;
}

.terminal_promt span {
    margin-left: 4px;
}

.terminal_user {
    color: #1eff8e;
}

.terminal_location {
    color: #4878c0;
}

.terminal_bling {
    color: #dddddd;
}

.terminal_cursor {
    display: block;
    height: 21px;
    width: 7px;
    margin-left: 10px;
    animation: curbl 1200ms linear infinite;
}

@keyframes curbl {

    0% {
        background: #ffffff;
    }

    49% {
        background: #ffffff;
    }

    60% {
        background: transparent;
    }

    99% {
        background: transparent;
    }

    100% {
        background: #ffffff;
    }
}

.button {
    --key-text-color: #1BFD9C;
    --docsearch-key-shadow: inset 0 -2px 0 0 black, inset 0 0 1px 1px black, 0 1px 2px 1px black;
    --docsearch-key-gradient: rgba(0, 0, 0, 0.65);;
    border: none;
    background: var(--docsearch-key-gradient);
    border-radius: 3px;
    box-shadow: var(--docsearch-key-shadow);
    color: var(--key-text-color);
    height: 2.5em;
    text-align: center;
    padding: 0.6em;
    margin: 0 0.6em;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 1em;
    line-height: 1em;
    user-select: none;
}

.container_code {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    position: absolute;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 15px;
    overflow: hidden;
}

.window-title {
    height: 30px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.window-title p {
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left;
}

.window-buttons {
    display: flex;
    align-items: center;
}

.window-button {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.2s ease;
}

.window-button.close {
    background-color: #f00;
}

.window-button.close:hover {
    background-color: rgb(182, 2, 2);
    cursor: pointer;
}

.window-button.reduce {
    background-color: #ff0;
}

.window-button.reduce:hover {
    background-color: rgb(172, 172, 4);
    cursor: pointer;
}

.window-button.fullscreen {
    background-color: #0f0;
}

.window-button.fullscreen:hover {
    background-color: rgb(7, 159, 7);
    cursor: pointer;
}

.window-button:focus {
    outline: none;
}

.console {
    width: 100%;
    height: calc(100% - 30px);
    background-color: #000;
    color: #fff;
    overflow: auto;
}

.console pre {
    margin: 0;
    padding: 5px;
    font-size: 15px;
}

.console pre code {
    color: #1BFD9C;
    outline: none;
}

.console::-webkit-scrollbar {
    width: 8px;
}

.console::-webkit-scrollbar-track {
    background-color: #333;
}

.console::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
    border: 2px solid #333;
}

.console::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}